<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="../../../assets/Folder.svg.png" id="icon" alt="User Icon" />
    </div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login(loginForm.value)"
    >
      <input
        type="text"
        id="login"
        class="fadeIn second"
        formControlName="user_name"
        placeholder="User"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        formControlName="password"
        placeholder="password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>
  </div>
</div>
